{% extends 'base.html.twig' %}

{% block title %}Hello FavorisController!{% endblock %}

{% block body %}
    <div class="container-fluid favoris">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 border border-secondary singleProduct">
                        <a href="#" class="btn">
                            <img class="w-100 img-fluid " src="/img/carousel-1.jpg" alt="Haircut Project">
                        </a>
                        <div class="card-body">
                            <div class="col-md-12 mb-3 text-center">
                                <small>
                                    <a href="#" class="btn btn-sm mt-1 mb-1">
                                    </a>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center"> {# rend flexible, met de l'écart entre les élements puis les aligne  #}
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card mb-4 border border-secondary singleProduct">
                        <a href="#" class="btn">
                            <img class="w-100 img-fluid " src="/img/carousel-1.jpg" alt="Haircut Project">
                        </a>
                        <div class="card-body">
                            <div class="col-md-12 mb-3 text-center">
                                <small>
                                    <a href="#" class="btn btn-sm mt-1 mb-1">
                                    </a>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center"> {# rend flexible, met de l'écart entre les élements puis les aligne  #}
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card mb-4 border border-secondary singleProduct">
                        <a href="#" class="btn">
                            <img class="w-100 img-fluid " src="/img/carousel-1.jpg" alt="Haircut Project">
                        </a>
                        <div class="card-body">
                            <div class="col-md-12 mb-3 text-center">
                                <small>
                                    <a href="#" class="btn btn-sm mt-1 mb-1">
                                    </a>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center"> {# rend flexible, met de l'écart entre les élements puis les aligne  #}
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card mb-4 border border-secondary singleProduct">
                        <a href="#" class="btn">
                            <img class="w-100 img-fluid " src="/img/carousel-1.jpg" alt="Haircut Project">
                        </a>
                        <div class="card-body">
                            <div class="col-md-12 mb-3 text-center">
                                <small>
                                    <a href="#" class="btn btn-sm mt-1 mb-1">
                                    </a>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center"> {# rend flexible, met de l'écart entre les élements puis les aligne  #}
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>        
    </div>         
{% endblock %}
